@font-face
{
font-family:LatoLight;
src: url('./Fonts/Lato/Lato-Light.ttf');
}

@font-face
{
font-family:LatoBold;
src: url('./Fonts/Lato/Lato-Bold.tff');
}

#pageContent {
	margin-top:10%;
}

#loading{
	visibility:hidden;
}

#mainTitle {
	color: rgb(100,100,100);
	top: 25%;
	margin-left: 15%;
	font-size: 120px;
	font-family: 'LatoLight', sans-serif;
}

#header {
	width:100%;
	background-color: rgba(255,255,255,0.95);
	top:0px;
	position:fixed;
	padding-top:25px;
	padding-right:50px;
	right:0px;
}


/*NAVIGATION*/
ul.navi {
	float:right;
}

li.navi {
	list-style:none;
	float:left;
}

a.navi {
	font-size: 18px;
	color : black;
	text-decoration: none;
	font-family: 'LatoLight', sans-serif;
	margin-left: 15px;
	margin-right: 20px;
}


/*ABOUT PAGE*/
.about {
	left:5%;
	font-size: 23px;
	font-family: 'LatoLight';
	width: 45%;
}

#identity {
	margin-left: 5%;
	width : 45%;
	float : left;
}

#howWeWork {
	/*margin-left: 33%;*/
	font-size: 1.2em;
	margin-top: 0%;
	float: right;
}

#open {
	font-size: 1.2em;
	top: 100px;
	margin-left: 5%;
	width: 45%;

}
.bold {
	font-size:1.5em;
	font-family: 'LatoBold';

}

/*MONOLAB*/
#monolab{
	margin-left:10%;
	font-size: 23px;
	font-family: 'LatoLight';
	width: 45%;
}

/*CONTACT*/
#mailLink {
	font-family: 'LatoLight';
	color: rgb(0,0,200);
	font-size: 50px;
	margin-left: 67%;
}